/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;

}
p, li, a{
    font-family:'Nanum Gothic', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
body h1{
    text-align: center;
}
main h1{
    font-size: 1em;
    text-transform: uppercase;
    padding-bottom:3%;
}

h2 {
    text-align: center;
    font-size:1.2em; 
}

p {
    text-align: center;
}

.portfolio img {
    width:100%;
    height:100%;
}
a:hover{
    color:#c9cec6
}
.profile{
    font-size: 1.5rem;
}
.main-nav li {
    background-color: white;
    list-style: none;
    text-align: center;
    font-weight: bold;
    padding: 0.5em 1em;
    margin:3px;
}
ul{
    padding-left: 0;
}




/* ================================= 
  Base Layout Styles
==================================== */
.portfolio {
    display: inline-block;
    background-color:white;
    padding:3%;
    margin-top:3%;
}
nav a{
    padding-bottom: 1em;
    list-style:none;
    color:#1f1f1f;
    text-decoration: none;
    text-transform: uppercase;

}
.wrapper{
    padding:3%;
    background-color:#f7f7f7
}
header {
    padding-bottom:3%;
}
.profile-image{
    width: 100%;
}
nav {
    width:90%;
    margin: 0 auto;
}
.footer-nav{
    display:none;
}
.contact{
    margin: 10%;
}
.skills{
    background: white;
    padding:3%;
    text-align:center;
}
.skills li{
    padding:1.5%;
    display:inline-block;
    list-style-type: none;
}
.mobile-nav{
    float:right;
    text-decoration:none;
    color:black;
    font-weight: bold;
}
.footer-name{
    display:inline;
}
footer{
    margin-bottom:1%;
}





/* ================================= 
  Media Queries
==================================== */

@media (min-width:768px) {

    .pro1, .pro2 {
        float:left;
        width:50%;
        padding:1%;
    }
    .pro3, .pro4 {
        float:left;
        width:50%;
        padding:1%;
    }
    .pro5, .pro6 {
        float:left;
        width:50%;
        padding:1%;
    }
    header{
        text-align: center;
    }
    .name{
        text-align: center;
        display:inline-block;
    }
    
    .main-nav{
        display:inline-block;
    }
    nav li {
        display: inline-block;
    }
    .main-nav li {
        background: none;
    }
    .footer-nav {
        float: right;
        display: block;
        width:20em;
    }
    .footer-name{
        float:left;
        width:10em;
    }
    .profile-image{
        width:50%;
        float:right;
    }
    .profile{
        width:50%;
        float:left;
        padding-right:3%;
        margin: 2% 0;
    }
    .contact{
        margin: 5% 20%;
    }
    .mobile-nav{
        display: none;
    }

}

@media (min-width:1024px) {

    .name {
      float:left;
      width:10em;
    }
    .main-nav{
        float:right;
        width:30em;
    }

    .main-nav li {
        background: none;
        float:left;
    }
    .pro1, .pro2, .pro3, .pro4, .pro5, .pro6 {
      float:left;
      width:33.3%; 
      padding:1%;
    }
    
    .profile-image {
        float:right;
        padding:3%;
        width:40%;
    }
    .profile {
        padding:3%;
        margin-top:3%;
        float:left;
        width:60%;
    }
    .footer-nav {
        float: right;
        width:20em;
    }
    .footer-name{
        float:left;
        width:10em;
    }
    .contact{
        margin: 5% 20%;
    }
    .mobile-nav{
        display: none;
    }
 

}





.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }