/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
    font-family:'Nanum Gothic', sans-serif;
}
body h1{
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.portfolio img {
    width:100%;
    height:100%;
}
a:hover{
    color:#9d9d9d
}
.profile{
    font-size: 1.5rem;
}
nav a{
    font-weight: bold;
}
nav li {
    background-color: white;
    padding:3%;
    margin:-5px 0;
}




/* ================================= 
  Base Layout Styles
==================================== */
.portfolio {
    display: inline-block;
    background-color:white;
    padding:3%;
}
nav a{
    padding-right: 1em;
    padding-bottom: 1em;
    list-style:none;
    color:#1f1f1f;
    text-decoration: none;

}
.wrapper{
    padding:3%;
    background-color:#f7f7f7
}
header {
    padding-bottom:3%;
}
.profile-image{
    width: 100%;
}
nav{
    text-align:center;
}







/* ================================= 
  Media Queries
==================================== */

@media (min-width:768px) {

    .pro1, .pro2 {
        float:left;
        width:50%;
        padding:1%;
    }
    .pro3, .pro4 {
        float:left;
        width:50%;
        padding:1%;
    }
    .pro5, .pro6 {
        float:left;
        width:50%;
        padding:1%;
    }
    header{
        text-align: center;
    }
    .name{
        text-align: center;
        float:left;
    }
    
    .main-nav{
        float:right;
        text-align: center;
    }
    nav li {
        display: inline-block;
    }
    .footer-nav {
        float: right;
    }
    .footer-name{
        float:left;
    }
    .profile-image{
        width:50%;
        float:right;
    }
    .profile{
        width:50%;
        float:left;
        padding-right:3%;
        margin: 2% 0;
    }
   

}

@media (min-width:1024px) {

    .name {
      float:left;
    }

    nav {
       float:right;
    }
    nav li {
       display:inline-block;
    
    }
    .pro1, .pro2, .pro3, .pro4, .pro5, .pro6 {
      float:left;
      width:33.3%; 
      padding:1%;
    }
    
    .profile-image {
        float:right;
        padding:3%;
        width:40%;
    }
    .profile {
        padding:3%;
        margin-top:3%;
        float:left;
        width:60%;
    }
 

}





.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }